.logoutButton {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	padding: 1rem;
	margin: 2px;
	box-shadow: none;
	width: 100%;
	display: flexbox;
	align-items: center;
	justify-content: start;
	gap: 0.5rem;
	transition: all 0.2s ease;
	border-radius: 0.5rem;

	&:hover {
		background-color: var(--accent-hover);
		transform: translateX(5px);
	}
}
